

#mainNav{
  background-color: #101923;
}

#mainNav .navbar-nav .nav-link {
  color: #ffffff;
  padding: 1rem 1rem;
}
/* change the color of active or hovered links */
#mainNav .nav-item.active .nav-link,
#mainNav .nav-item:hover .nav-link {
  color: #ffffff;
  background-color: #294388; /* add background-color to active links */
}

body {
  font-family: 'Baloo 2', cursive !important;
  background-color: #4a5160;
  padding-top: 80px;
  min-height: 100%;
}

.custom-main-content{
  
  width: 100%;
  box-sizing: border-box;
}

.custom-main-content:after {
  content: "";
  display: block;
}

.masthead{
  background-color: #082349;
}

.container-mensaje{
  background-color: #101923;
  margin-top: 5px;
}

.videoframe{
  float: left
}

.logo2{
  margin: auto;    
    display: block;
    max-width:100%;
    height:auto;
    float: left;
}
.logo3{
  margin: auto;    
    display: block;
    max-width:100%;
    height:auto;
    margin-top: 20px;
}
.youtube-logo{
  margin: auto;    
    display: block;
    max-width:100%;
    height:auto;
    float: right;
}
.logos{
  margin: auto;    
    display: block;
    max-width:100%;
    height:auto;
    float: right;
}



.imagen-videoteca{
  display: block;
    width:100%;
    height:auto;
    float: left;
}

section #message{
  background-color: #1e2a33;
}

.icono-convi-img{
  margin: auto;    
  display: block;
  max-width:100%;
  background-size: 100% 100%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mensaje-pastoral-img{
  margin: auto;    
  display: block;
  width:100%;
  background-size: 100% 100%;
    height:auto;
}

.mensaje-pastoral-title{
  color: #cccccc;
  font-size:72px;
  position: relative;
  top:-96px;
  line-height: 100%;
}

.directores-div{
  margin-bottom: -80px;
}

.director-title{
  position: relative;
  top:-96px;
  color: #ffffff;
  font-size:24px;
  display: block;
  margin: auto;
}

.director-subtitle{
  position: relative;
  top:-96px;
  color: #ffffff;
  font-size:12px;
  display: block;
  margin: auto;
}

br{
  display: block;
  content: ""; /* clears default height */
  margin-top: 0;
}

.container-avisos{
  margin-top: -25px;
}

.avisos-col{
  background-color: #064590;
  padding: 40px 30px 20px 40px;
}

.avisos-image{
  position: relative;
  top: 20px;
  margin-left: 25px;
  z-index: 1;
}

.horario-col{
  background-color: #082349;
}

.footer-bg{
  background-color: #000;
  background: black;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
}

.logo-footer{
  float:left;
}
.address-footer{
  padding-top: 10px;
}

.custom-line{
  line-height: 100%;
  margin: 0;
}

.custom-line-top{
  margin-top: 10px;
}

.custom-line-bottom{
  margin-bottom: 10px;
}

.custom-line-title{
  font-weight: bold;
}

.custom-content-block{
  padding: 20px 30px;
}

.custom-quote-block{
  color: #41557c;
  margin: 0px 30px 0px 30px;
}

blockquote p:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  font-style: italic;
  vertical-align: -0.4em;
}

body .videos{
  background-color: #ffffff;
}

  
  

.horarios{
  margin: auto;    
  display: block;
  max-width:100%;
  height:auto;
  float: left;
}

@media (min-width: 768px) {
  .container{
      max-width: 600px;
  }
}



@media (min-width: 320px){
  .masthead{
    margin-top: 7px;
  }
}

@media (min-width: 992px) {
  .masthead{
    margin-top: 35px;
  }
}

@media (min-width: 1281px) {
  
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 110px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 110px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 110px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
 
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 180px;
  }

  .img-size{
        max-width:100%;
max-height:100%;
        background-size: contain;
  background-repeat: no-repeat;
  content:url("/assets/images/esquelamovil.png");
        
    }

}



@media (min-width: 320px) and (max-width: 480px) { 
  
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 180px;
  }

  
    
}

@media (max-width: 320px) { 
  
  .container-avisos{
    margin-top: -25px;
    margin-bottom: 180px;
  } 
}